{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <p class="b-txt">the</p>
            <h2 class="title" style="">
                STU MART
            </h2>
            <ul class="banner-txt">
                <li>share.</li>
                <li> explore. </li>
                <li>amplify.</li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- about -->
<div class="about-sec section" id="about">
    <div class="container">
        <!-- about-left-grid -->
        
        <!-- //about-left-grid ends here-->
        <!-- about-right-grid -->
        
        <!-- //about-right-grid ends here -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- //about ends here -->
<!-- about bottom -->
<div class="about-bottom section">
    <div class="container-fluid">
        <h4 class="rad-txt">
            <span class="abtxt1">Buy And Sell</span>
            <span class="abtext">Used Books</span>
        </h4>
        <!-- about-bottom grid1 -->
        <div class="col-md-6 about-bottom-right">
            <p class="abt-p">The students can sell all the study material after their use.
            </p>
            <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls">
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>HOT NOTES</h5>
                        <p>It will hepls you understand quikly. Helps to crack the exam easilys </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>BOOKS</h5>
                        <p>If the book is useless for you.Then share it to needy students</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>STUDY MATERIAL</h5>
                        <p>share it </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 services-w3ls service2">
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>E-NOTES</h5>
                        <p>Share the pdf notes</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>SHORT NOTES</h5>
                        <p>Share your short notes to others.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ab1">
                    <div class="col-md-3 col-sm-3 col-xs-3 ab1-icon">
                        <span class="fa fa-book" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 ab1-text">
                        <h5>AUDIO CLASS</h5>
                        <p>Share the voice records.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div> 
            <div class="clearfix"></div>
        </div>
        <!-- //about-bottom grid1 ends here -->
        <div class="col-md-6 home-about2">
        <!-- about-bottom grid2 -->
        <div class="col-md-6 col-sm-6 col-xs-6 bg-right"></div>
        <!-- //about-bottom grid2 ends here -->
        <!-- about-bottom grid3 -->
        <div class="clearfix"></div>
       </div>
        <!-- //about-bottom grid3 ends here -->
        <!-- //Numscroller -->
        <div class="clearfix"></div>
    </div>
    <!-- //about container ends here-->
</div>

<!-- //team -->
<!--testimonials -->
<div class="reviews section" id="testimonials">
    <div class="container">
        <h4 class="rad-txt">
            <span class="abtxt1">TEAM</span>
            <span class="abtext">DEVELOPERS</span>
        </h4>
        <div id="Carousel" class="slide carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>FRONTEND DEVELOPER</h6>
                                    <p>Creates the userfriendly interface.</p>
                                    <h5>NIYAS MOHAMMED</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3  img-testi">
                                    <img class="img-responsive" src="{% static 'images/c4.jpg' %}" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="{% static 'images/c2.jpg' %}" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>PROJECT GUIDE</h6>
                                    <p>Gives the all support and help to developing this website.</p>
                                    <h5>Prof.SANDHYA</h5>
                                </div>

                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids">
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>BACKEND DEVELOPER</h6>
                                    <p>Devlop all the operations and functions.</p>
                                    <h5>NIHAL AP</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="{% static 'images/c3.jpg' %}" alt="">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-6  testi-main">
                            <div class="testi-grids t2">
                                <div class="col-md-3 col-sm-3 col-xs-3 img-testi">
                                    <img class="img-responsive" src="{% static 'images/c4.jpg' %}" alt="">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 team-w3ls-txt">
                                    <h6>DATABASE</h6>
                                    <p>Creates the datbase and handling the database.</p>
                                    <h5>PS ASWIN KRISHNA</h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <!--.row-->
                </div>
                <!--.item-->
                
            </div>
            <!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //testimonials-->
{% endblock %}